:root {
  --color-primary: #f2f3f4;
  --color-secondary: #222324;
  --color-accent1: hsl(0, 100%, 50%);
  --color-accent2: hsl(184, 100%, 38%);
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
